.collection-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-btn{
    margin-right: 10px;
}
.add-btn{
    margin-right: 10px;
}
.remove-btn{
    margin-right: 10px;
}
h2{
    margin-top: 4rem;
    margin-left: 20px;
}
.popup button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -0.5rem;
  }

